aws_access_key = ""
aws_secret_key = ""
aws_region = "eu-west-1"
k8s_version = "1.16.2"
helm_version = "2.15.1"
admin_token = "07401b.f395accd246ae52d"
host_zone = "example.com"
cluster_name = "Kubernetes"
node_type = "t3.small"
node_key = "~/.ssh/id_rsa.pub"
